[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# Allow to restart a run from game over screen
[[patches]]
[patches.regex]
target = "engine/controller.lua"
pattern = '''if key == "r" and not G.SETTINGS.paused'''
position = "after"
payload = '''
 or (key == "r" and Handy.__restart_from_game_over)
'''
match_indent = true
overwrite = false
