[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# Mouse listeners
[[patches]]
[patches.pattern]
target = "main.lua"
pattern = '''function love.mousepressed(x, y, button, touch)'''
position = "after"
payload = '''
if Handy.controller_v2.process_input(touch and "touch" or "mouse", button, false) then return end
'''
match_indent = true
overwrite = false

[[patches]]
[patches.pattern]
target = "main.lua"
pattern = '''function love.mousereleased(x, y, button)'''
position = "after"
payload = '''
if Handy.controller_v2.process_mouse_input(button, true) then return end
'''
match_indent = true
overwrite = false

# Key listeners
[[patches]]
[patches.pattern]
target = "main.lua"
pattern = '''function love.keypressed(key)'''
position = "after"
payload = '''
if Handy.controller_v2.process_keyboard_input(key, false) then return end
'''
match_indent = true
overwrite = false

[[patches]]
[patches.pattern]
target = "main.lua"
pattern = '''function love.keyreleased(key)'''
position = "after"
payload = '''
if Handy.controller_v2.process_keyboard_input(key, true) then return end
'''
match_indent = true
overwrite = false

# Handle card click
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''function Card:click()'''
position = "after"
payload = '''
if Handy.controller_v2.process_card_click(self) then return end
'''
match_indent = true
overwrite = false

# Handle card hover
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''function Card:hover()'''
position = "after"
payload = '''
if Handy.controller_v2.process_card_hover(self) then return end
'''
match_indent = true
overwrite = false

# Handle card stop hover
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''function Card:stop_hover()'''
position = "after"
payload = '''
if Handy.controller_v2.process_card_stop_hover(self) then return end
'''
match_indent = true
overwrite = false

# Swap left/right stick cursor behaviour
[[patches]]
[patches.pattern]
target = "engine/controller.lua"
pattern = '''local l_stick_y = self.GAMEPAD.object:getGamepadAxis('lefty')'''
position = "after"
payload = '''
if Handy.controls.is_module_enabled(Handy.cc.swap_controller_cursor_stick) then
    l_stick_x = self.GAMEPAD.object:getGamepadAxis('rightx')
    l_stick_y = self.GAMEPAD.object:getGamepadAxis('righty')
end
'''
match_indent = true
overwrite = false

[[patches]]
[patches.pattern]
target = "engine/controller.lua"
pattern = '''local r_stick_y = self.GAMEPAD.object:getGamepadAxis('righty')'''
position = "after"
payload = '''
if Handy.controls.is_module_enabled(Handy.cc.swap_controller_cursor_stick) then
    r_stick_x = self.GAMEPAD.object:getGamepadAxis('leftx')
    r_stick_y = self.GAMEPAD.object:getGamepadAxis('lefty')
end
'''
match_indent = true
overwrite = false
