[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# Skipping booster
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''G.GAME.PACK_INTERRUPT = nil'''
position = "after"
payload = '''
Handy.regular_keybinds.booster_pack_skipped = false
'''
match_indent = true
overwrite = false
