[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# A point where we can leave shop
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''if math.abs(G.shop.T.y - G.shop.VT.y) < 3 then'''
position = "after"
payload = '''
Handy.regular_keybinds.on_shop_loaded()
'''
match_indent = true
overwrite = false

# Perform overlay menu swap
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = '''G.OVERLAY_MENU = true'''
position = "before"
payload = '''
if Handy.regular_keybinds.swappable_overlay or Handy.UI.remove_overlay_offset then
    args.config.offset.y = 0
end
'''
match_indent = true
overwrite = false

# Handle game restart manually
[[patches]]
[patches.regex]
target = "engine/controller.lua"
pattern = '''if key == "r" and not G.SETTINGS.paused'''
position = "at"
payload = '''
if key == "r" and Handy.regular_keybinds.can_restart()
'''
match_indent = true
overwrite = false
