[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# Send is Handy MP extension loaded to hash
[[patches]]
[patches.pattern]
target = '''=[SMODS Multiplayer "networking/action_handlers.lua"]'''
pattern = '''if parsedAction.action == "connected" then'''
position = "before"
payload = '''

'''
match_indent = true
overwrite = false
